@import "../../global.scss";
.portfolio{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size:60px;
    }
    ul{
        margin : 10px;
        padding : 0;
        list-style: none;
        display : flex;  
        margin-left: 0px;
        li{
            font-size: 14px;
            margin-right : 50px;
            padding : 7px;
            border-radius: 8px;
            cursor: pointer;
            &.active{
                background-color: $mainColor;
                color :white;
            }
        }
        li:last-child{
            margin-right:0;
        }
    }
    .container{
        width : 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap : wrap;
        .item{
            width : 220px;
            height : 150px;
            border-radius : 20px;
            border : 1px solid grey;
            margin: 10px 20px;
            display : flex;
            justify-content:center;
            align-items: center;
            color : white;
            position: relative;
            transition: 1s; 
            cursor: pointer;
            
            h3{
                position: absolute;
                font-size: 20px;
            }
            img{
                width : 100%;
                height : 100%;
                object-fit:cover;
                z-index: 1;
            }
            &:hover {
                background-color: $mainColor;
               
                img {
                    opacity :0.3;
                }
            }
        }
    }
}