@import "../../global.scss";
.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height:100%;
  position: relative;
  .waves1 {
    position: absolute;
    top: 0;
    transform: rotate(180deg) !important;
  }
  .waves2 {
    position: absolute;
    bottom: -0.5vh;
  }
  // border: 2px solid black;
  h1 {
    font-size: 60px;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    color : white;
    background-color: $mainColor;
    @include mobile {
      font-size: 30px;
    }
  }
  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 0px;
    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      margin-top: 20px;
    }
    li {
      font-size: 14px;
      margin-right: 50px;
      padding: 7px;
      border-radius: 8px;
      cursor: pointer;
      &.active {
        background-color: $mainColor;
        color: white;
      }
      @include mobile {
        margin-right: 20px;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
  .container {
    width: 60vw;
    height: 60vh;
    // border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile {
      width: 100%;
      margin-top: 50px;
    }
    .item {
      outline: none;
      width: 15vw;
      height: 20vh;
      border-radius: 20px;
      border: 1px solid grey;
      margin: 10px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: relative;
      transition: 1s;
      cursor: pointer;

      @include mobile {
        width: 150px;
        height: 100px;
        margin: 10px 10px;
        outline: none;
      }

      h3 {
        position: absolute;
        font-size: 20px;
        text-align: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
      &:hover {
        background-color: $mainColor;

        img {
          opacity: 0.3;
          z-index: 2;
          outline: none;
        }
        h3 {
          z-index: 3;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
}
