@import "../../global.scss";

.portfolioList{
    font-size: 14px;
    margin-right : 50px;
    padding : 7px;
    border-radius: 8px;
    cursor: pointer;
    @include mobile{
        margin-right : 10px;
        outline: none;
     }
    &.active{
        background-color: $mainColor;
        color :white;
    }
}