@import "../../global.scss";
.contact {
    background-color: white;
    display:flex;
    overflow: hidden;
    font-size: 40px;
    @include mobile{
        flex-direction: column;
    }
    .left{
        flex:1;
        @include mobile{
            overflow: hidden;
        }
    }
    .right{
        flex:1;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 3s;
        .ressources{
            flex:1;
            font-size: 20px;
            display : flex;
            align-items: center;
            justify-content: center;
            
            color : crimson;
            transition: all 1s;
            img {
                width : 30px;
                margin :0px 20px;
                background-color:white;
            }
            a{
                text-decoration: none;
                color : crimson;
                margin-right: 10px;
                cursor: pointer;
                position: relative;
            }
            &.mail{
            &.active{
                @include mobile{
                    margin-left : -180px;
                }
            }
            div{
                transform:translateX(300px);
                &.active{
                    transition : 2s ;
                    transform:translateX(-160px);
                }        
               }
               transform:translateX(150px);
               .active{
                opacity: 1;
                transition: 1s;
               }
               .inactive{
                    transition : 1s;
                    opacity: 0;
               }
            }
            
            
        }
        
        h2{
            font-size: 40px;
        }
        @include mobile {
            span::after{
                content: "Phone : +21655366389";
                font-size: 15px;
                margin-bottom: 100px;
                transform : translateX(100px);
               }
        }
        
        /*form{
            width: 70%;
            height:70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            input{
                width: 300px;
                height:30px;
                font-size: 14px;
            }

            textarea{
                width: 300px;
                height: 200px;
            }
            button{
                width: 150px;
                height :30px;
                color:white;
                background-color:crimson;
                border: 0;
                border-radius:10px;
                font-weight: 500;
                cursor: pointer;
            }
            span{
                color : green;
            }
        }*/
    }
}