@import "../../global.scss";
.works {
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow {
        height: 50px;
        position: absolute;
        cursor: pointer;
        @include mobile{
            display:none;
        }

        &.left {
            transform: rotate(180deg);
            left: 100px;
        }

        &.right {
            right: 100px;
            
        }
    }

    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: 1s ease-out;
        @include mobile{
            height : 100vh;   
            flex-direction: column;
            justify-content: center;
        }
    }

    .container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
          transform: translateY(40px);
          
          flex-direction: column;
        }

        .item {
            width: 700px;
            height: 100%;
            background-color: white;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mobile{
                width: 90%;
                height:300px;
                margin:5px 0;
            }
            .left {
                
                flex: 4;
                height: 70%;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                @include mobile{
                    flex-direction: column;
                    justify-content:space-between;
                    flex: 6;
                    height : 90%;
                }
                .leftContainer {
                    width: 90%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @include mobile{
                        flex-direction: column;
                        justify-content:space-between;
                        height : 100%;
                    }  
                    .imgContainer {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgb(245, 179, 155);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include mobile{
                            display:none;
                        }  
                    }

                    img {
                        width: 25px;
                    }
                }

                h2 {
                    font-size: 20px;
                    @include mobile{
                        font-size: 14px;
                        overflow: hidden;
                        text-align: center;
                    }
                }

                p {
                    font-size: 12px;
                    @include mobile{
                        font-size: 12px;
                    }
                }

                span {
                    font-size: 12px;
                    font-weight: 600;
                    text-decoration: underline;
                    cursor: pointer;
                    overflow: hidden;
                    a{
                        text-decoration: none;
                        color: inherit;
                        overflow: hidden;
                    }
                }
            }

            .right {
                flex: 8;
                height: 100%;
                align-items: center;
                justify-content: center;
                overflow: hidden;


                img {
                    width: 400px;
                    height: 100%;
                    box-shadow:5px 5px 5px  grey ;
                    transform: translateX(30px) rotate(-10deg);
                    @include mobile{
                        width:  200px;
                        height: 100%;
                    }
                }
            }


        }


    }
}